// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red : #E7514C;
$orange :#EB9A3F;
$yellow:#E2B545;
$green:#99BC76;
$blue:#5D748D;
$purple:#8D22C4;