// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red : #DD2727;
$orange :#FFAD0D;
$yellow:#ECCE33;
$green:#0BB07B;
$blue:#0020d3;
$purple:#722DDB;



