// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red : #F94144;
$orange :#F8961E;
$yellow:#F8C74E;
$green:#90BE6D;
$blue:#57748F;
$purple:#9900CB;



