#demographics-container{

    .container-header{
        font-size: 38px;
        line-height: 42px;
    }
    input[type="text"],select{
        width: 450px;
    }
    #interest-section{
        #interest-selection{
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            div{
                margin-bottom: 10px;
            }
        }
        #interest-form{
            p{
                
            }
        }
        #work-city, #personal-city{
        }

        #interest-options-work, #interest-options-personal{
            display: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            
            label{
                color: #200A44;
            }
            div {
                display: flex;
                flex-direction: column;
            }
        }

        #next-button{
            margin-top: 20px;
        }
    }

    #activity-section{
        #activity-target{
            display: none;
        }
        #activity-button-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;
        }
        
        #activity-target{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            min-width: 450px;
            display: flex;
            div{
                input{
                    
                }
            }
            &.enabled{
                display: block;
            }
            .target-text{
                display: none;
            }
            label{
                margin-bottom: 20px;
            }
        }
        .container-text{
            text-align: center;
            margin-bottom: 20px;
        }
    }

    #information-section{
        //display: none;
        .container-text{
            text-align: center;
        }
        #information-button-container{
            display: flex;
            @media only screen and (max-width: 800px) {
                flex-direction: column;
                .button{
                    margin-bottom: 20px;
                }
            }
            
        }
    }
   
}
