#previous-results-container {
    margin-top: 50px;

    #results-table {
        table {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }
    }

    #go-back-button {
        margin: 40px auto;
        display: flex;
        justify-content: center;
    }
}
