
#questions-container{
  .single-question{
        display: none;
        margin-bottom: 20px;
        .question-image{
            margin: auto;
        }
        &.enabled{
            display: block;
        }
        .question-information{
            display: none;
        }
        #question-text{
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            &[data-id="1"]{
                color: $red;
            }
            &[data-id="2"]{
                color: $orange
            }
            &[data-id="3"]{
                color: $yellow;
            }
            &[data-id="4"]{
                color: $green;
            }
            &[data-id="5"]{
                color: $blue;
            }
            &[data-id="6"]{
                color: $purple;
            }
        }
        .options-container{
            text-align: center;
            //display: flex;
            flex-direction: column;
            align-items: center;
            .single-option{
                min-width: 20%;
                justify-content: normal;
                display: flex;
                text-align: center;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
              
                .input-holder{
                    
                    input{
                        margin-right: 15px;
                    }
                    &-text{
                        input{
                            display: none;
                        }
                    }
                }
                .label-holder{
                    label{
                        text-align: left;
                    }
                }
               &.text-option{
                .input-holder{
                    order:2;    
                }
                } 
            }
            
        }
    }


   
}
#information-popup{
    text-align: justify;
    width: 95%;
    z-index: 9999;
    top: 0;
    display: none;
    height: auto;
    border-radius: 10px;
    top: 4%;
    padding: 20px;
    @media only screen and (min-width: 600px) {
        left: 10%;
        width: 80%;
    }
    #exit-text{
        display: none;
    }
    #information-text{
        margin-bottom: 20px;
        li{
            list-style: disc;
            margin-left: 20px;
          
        }
        img{
            margin: auto;
        }
        .quote-container{
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            text-align: center;
            margin-bottom: 20px;
            color: green;
            .quote{
                display: block;
                font-size: 32px;
                font-weight: bold;
                line-height: 31px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
        }
    }
    #next-button{
        display: none;
    }
    #result-button {
        display: block;
        margin: auto;
      }
}