#questions-container {
    font-size: 16px;

    .single-question {
        display: none;
        margin-bottom: 20px;

        .question-image {
            margin: auto;
        }

        &.enabled {
            display: block;
        }

        .question-information {
            display: none;
        }

        #question-text {
            font-style: normal;
            border-bottom: 1px dashed #b7b7b7;
            font-weight: 700;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            margin-top: 32px;
            &[data-id="1"] {
                color: $red;
            }
            &[data-id="2"] {
                color: $orange;
            }
            &[data-id="3"] {
                color: $yellow;
            }
            &[data-id="4"] {
                color: $green;
            }
            &[data-id="5"] {
                color: $blue;
            }
            &[data-id="6"] {
                color: $purple;
            }
        }

        .options-container {
            text-align: center;
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            margin: auto;

            .single-option {
                min-width: 20%;
                justify-content: normal;
                display: flex;
                text-align: center;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;

                .input-holder {
                    input {
                        margin-right: 15px;
                    }

                    &-text {
                        input {
                            display: none;
                            margin-bottom: 0px;
                            height: 31px;
                            margin-left: 15px;
                            margin-top: -4px;
                        }
                    }
                }

                .label-holder {
                    label {
                        text-align: left;
                    }
                }

                &.text-option {
                    .input-holder {
                        order: 2;
                    }
                }
            }

            .dropdown-option {
                max-width: 450px;
                margin: auto;

                .label-holder {
                    text-align: left;
                    margin-bottom: 10px;
                }

                select {
                    max-width: 450px;
                    width: 100%;
                }
            }
        }
    }
}

#information-popup {
    text-align: justify;
    width: 95%;
    z-index: 9999;
    top: 0;
    display: none;
    height: auto;
    border-radius: 10px;
    top: 4%;
    padding: 20px;
    margin-bottom: 70px;
    font-size: 16px;

    @media only screen and (min-width: 600px) {
        left: 10%;
        width: 80%;
    }

    #exit-text {
        display: none;
    }

    #information-text {
        max-width: 750px;
        margin: 30px auto 20px;

        li {
            list-style: disc;
            margin-left: 20px;
        }

        img {
            margin: auto;
            width: 100%;
            max-width: 600px;
            object-fit: contain;
        }

        .quote-container {
            margin: 40px auto;
            width: 70%;
            text-align: center;
            color: green;

            @media only screen and (min-width: 600px) {
                width: 100%;
            }

            .quote {
                display: block;
                font-size: 32px;
                font-weight: bold;
                line-height: 31px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
        }
    }

    #next-button {
        display: none;
        justify-content: center;
        margin-top: 50px;
    }

    #result-button {
        display: block;
        margin: auto;
    }
}
