#questions-container{
  .single-question{
        display: none;

        &.enabled{
            display: block;
        }
        .question-information{
            display: none;
        }
    }
   
}
#information-popup{
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
    top: 0;
    display: none;
    height: 100%;
    background-color: rgb(196, 196, 196);
    #next-button{
        display: none;
    }
}