html, 
body,
.wrapper,
.wrapper-full-page,
.full-page,
.content,
.container,
#result-container {
    //height: 100%;
}
.container{
    position: relative;
}
#result-container{
    display: flex;
    flex-direction: column;
    .container-header{
        margin-bottom: 25px;
        font-size: 42px;
        line-height: 44px;
    }

    #result-info{
        text-align: center;
        width: 75%;
        margin: auto;
        line-height: 25px;
    }
    #button-container{
        display: flex;
        flex-direction: row;
        width: 65%;
        align-self: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .button{
            //margin-bottom: 30px;
        }
    }
    
    #note{
        text-align: center;
        margin-bottom: 30px;
    }
    #result-content{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: center;
        margin-bottom: 25px;
        #information-container{
            @media only screen and (max-width: 600px) {
                max-width: 100%;
            }
            margin-top: 30px;
            margin-bottom: 20px;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            height: 100%;
       
            .level-info{
                font-size: 1.8vh;
                line-height: 2.5vh;
                display: flex;
                flex-direction: row;
                position: relative;
                &:nth-child(even)
                    {
                        &.disabled{
                            .level-indicator{
                                background:#DDDDDD;
                            }
                        }
                    }
                &:nth-child(odd)
                    {
                        &.disabled{
                            .level-indicator{
                                background: #CDCDCD;
                            }
                        }
                        
                    }
                &.enabled{
                    &:before {
                        content: "";
                        position: absolute;
                        border-left: 6px solid #B70802;
                        width: 100%;
                        height: 100%;
                        left: 5%;
                        @media only screen and (max-width: 600px) {
                            border-left: 6px solid #B70802;
                        }
                      }
                    &.top{
                        &:before{
                            height: 50%;
                            top:50%;
                        }
                    }
                }
                .level-text{
                    padding: 18px;
                    font-size: 16px;
                    width: 100%;
                    padding-right: 5px;
                    color: black;
                    &::before{
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        display: inline-block;
                        content:"";
                        position: absolute;
                        top: 26px;  
                    }
                    div{
                        margin-left: 25px;
                    }   
                    
                }
                
                &.level{
                    color: black !important;
                }
                &.level{
                    
                    &--0{
                        margin-top: -15px;
                        &.enabled{
                            &:before {
                                border: none;
                                height: 40%;
                              }
                              &.top{
                                &:before{
                                    top:43%;
                                }
                            }
                        }
                        color: $red;
                        .level-text{
                            &::before{
                                display: none;
                            }
                            span{
                                color: $red; 
                            }
                        }
                        .level-indicator{
                            background-color: $red;
                            border-radius: 50px 50px 50px 50px;
                            width: 12%;
                            top: 1%;
                            border: 10px solid #F3F3F3;
                            position: relative;
                            height: 0;
                            padding-bottom: 8%;
                            left: -2%;
                            z-index: 0;
                        }
                    }
                    &--1{
                        color: $red;
                        &::before{
                            z-index: 2;
                        }
                        .level-text{
                            &::before{
                                background-color: $red;
                            }
                            span{
                                color: $red; 
                            }
                        }
                        .level-indicator{
                            background-color: $red;
                            z-index: 1;
                        }
                    }
                    &--2{
                        color: $orange;
                        .level-text{
                            &::before{
                                background-color: $orange;
                            }
                            span{
                                color: $orange; 
                            }
                        }
                        .level-indicator{
                            background-color: $orange;
                        }
                    }
                    &--3{
                        color: $yellow;
                        .level-text{
                            &::before{
                                background-color: $yellow;
                            }
                            span{
                                color: $yellow; 
                            }
                        }
                        .level-indicator{
                            background-color: $yellow;;
                        }
                    }
                    &--4{
                        color: $green;
                        .level-text{
                            &::before{
                                background-color: $green;
                            }
                            span{
                                color: $green; 
                            }
                        }
                        .level-indicator{
                            background-color: $green;
                        }
                    }
                    &--5{
                        color: $blue;
                        .level-text{
                            &::before{
                                background-color: $blue;
                            }
                            span{
                                color: $blue; 
                            }
                        }
                        .level-indicator{
                            background-color: $blue;
                        }
                    }
                    &--6{
                        color: $purple; 
                        .level-text{
                            &::before{
                                background-color: $purple;
                            }
                            span{
                                color: $purple; 
                            }
                        }
                        .level-indicator{
                            background-color: $purple;
                            border-top: 10px solid #F3F3F3;
                            border-radius: 40px 40px 0px 0px;  
                        }
                    }
                }
                .level-indicator{
                    width: 7%;                    
                    border-right: 10px solid #F3F3F3;
                    border-left: 10px solid #F3F3F3;
                   
                    
                    
                }
            }
        }
    }

   

    
}

@media only screen and (max-width: 600px) {
        
    .container-header{
        font-size: 24px !important;
        line-height: 28px !important;
    }
    
  
}